/************** Color palette ***************/
/************** Mixins ***************/
/************** Styles ***************/
body {
  background: #fff;
  width: 100%;
  height: auto;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 2.3rem;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
/*========== Counter Page ==========*/
#main_menu > li > a {
  background-color: transparent;
  -moz-box-shadow: inset 0 0 25px #5cb85c;
  -webkit-box-shadow: inset 0 0 25px #5cb85c;
  box-shadow: inset 0 0 25px #5cb85c;
}
#main_menu > li > a:hover,
#main_menu > li > a:focus {
  background-color: #5cb85c;
  color: #fff;
}
#newTask {
  display: block;
  margin: 0 auto;
}
#taskList {
  list-style-type: none;
  padding: 0;
}
#taskList > li {
  cursor: pointer;
  margin: 2px 5px;
  padding: 8px;
  border-radius: 4px;
  background-color: #e7e7e7;
}
#taskList > li:nth-child(2n) {
  background-color: #f8f8f8;
}
#taskList > li:not(:first-child):hover {
  background-color: #6ec06e;
  color: #fff;
}
#taskList > li.active {
  background-color: #fff;
  -moz-box-shadow: inset 0 0 25px #5cb85c;
  -webkit-box-shadow: inset 0 0 25px #5cb85c;
  box-shadow: inset 0 0 25px #5cb85c;
}
#taskList > li.header {
  background-color: transparent;
}
#taskList > li > span {
  display: inline-block;
}
#taskList > li > span.edit_animation_box {
  position: absolute;
  width: 100%;
  height: 36px;
  margin: -8px;
  padding: 0 20px;
  left: 8px;
  background-color: #337ab7;
  border-radius: 4px;
  opacity: 0;
}
#taskList > li > .task_index {
  width: 3%;
}
#taskList > li > .name {
  width: 75%;
  overflow: hidden;
  margin-bottom: -5px;
}
#taskList > li > .spent_time {
  width: 10%;
  min-width: 70px;
  text-align: right;
}
#taskList > li > button.start,
#taskList > li > button.stop {
  position: absolute;
  margin-top: -8px;
  right: 20px;
  height: 36px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  z-index: 1000;
}
#taskList > li > button.stop {
  display: none;
}
#page .pagination {
  margin-bottom: 0;
  margin-top: 10px;
}
#page .pagination > li.active a {
  background-color: transparent;
  border-color: #e7e7e7;
  color: #337ab7;
  -moz-box-shadow: inset 0 0 15px #5cb85c;
  -webkit-box-shadow: inset 0 0 15px #5cb85c;
  box-shadow: inset 0 0 15px #5cb85c;
}
#page .paginationItemsPerPage {
  display: inline-block;
  width: initial;
  margin-top: 10px;
  margin-right: 15px;
  padding: 6px;
}
#page .pagination_box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4px;
}
#page .pagination_box:last-of-type {
  margin-bottom: 70px;
}
#login_msg,
#register_msg {
  height: 20px;
  display: block;
  margin-bottom: 5px;
  text-align: center;
}
button#login,
button#register {
  margin: 25px 0 10px 0;
}
/*========== Side Menu ==========*/
#sideMenu > * {
  width: 100%;
  margin-bottom: 15px;
}
#counter_side_menu_active_item {
  background-color: transparent;
  border-radius: 6px;
  -moz-box-shadow: inset 0 0 50px #5cb85c;
  -webkit-box-shadow: inset 0 0 50px #5cb85c;
  box-shadow: inset 0 0 50px #5cb85c;
}
#counter_side_menu_active_item span {
  display: block;
  text-align: center;
  padding: 5px 20px;
}
#counter_side_menu_active_item .name {
  font-size: 20px;
  padding-top: 20px;
}
#counter_side_menu_active_item .spent_time {
  font-size: 35px;
  padding-bottom: 15px;
}
#counter_side_menu_active_item .stop {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*========== Modal Window ==========*/
.btn-modal-close {
  float: left;
}
#result_msg {
  margin-top: -5px;
  text-align: center;
  font-size: initial;
}
#create_result_msg,
#edit_result_msg {
  text-align: right;
  padding-right: 50px;
}
#user_account .password_section {
  display: none;
}
#delete_body {
  display: none;
}
#delete_body .info {
  display: block;
  margin: 10px;
  text-align: center;
}
#app_settings_body {
  display: none;
}
.modal-body .modal-tabs {
  display: flex;
  justify-content: center;
  margin-top: -15px;
  margin-bottom: 20px;
}
.modal-body .modal-tabs > span {
  margin: 0 3px;
  padding: 5px 8px;
  border: 1px solid #e7e7e7;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  min-width: 65px;
  text-align: center;
}
.modal-body .modal-tabs > span.active {
  color: #fff;
  border-color: transparent;
}
.modal-body input[type="checkbox"] {
  margin-top: 10px;
}
#edit_page.active,
#account_page.active,
#app_page.active {
  background-color: #5cb85c;
  border-color: #449d44;
}
#delete_page.active {
  background-color: #d9534f;
  border-color: #c9302c;
}
/* Color styles */
.red {
  color: #d9534f;
}
/* Position styles */
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.centered_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Bootstrap styles */
#task_action_buttons .modal-dialog {
  margin-top: 75px;
}
.btn {
  min-width: 65px;
}
/*==================== Media ======================*/
